%form#search(action='search' method='get')
  %p Get useful job insights now..
  %fieldset
    %input(type='text' name='role' placeholder='Chef, Plumber..')
    %input(type='text' name='location' placeholder='Manchester..')
    %button Search Now

%ul#blurb
  %li
    %h3 Fast.
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus bibendum elit sed venenatis. Sed id ligula tortor. Donec eu urna id leo ornare convallis. Vestibulum ac leo nisl.
  %li
    %h3 Relevant.
    %p Sed id ligula tortor. Donec eu urna id leo ornare convallis. Vestibulum ac leo nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus bibendum elit sed venenatis.
  %li
    %h3 Now.
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus bibendum elit sed venenatis. Sed id ligula tortor. Donec eu urna id leo ornare convallis. Vestibulum ac leo nisl.