!!!
%html
  %head
    %title jobr.io &mdash; the smart way to find work.
    = css :application, media: 'screen'
  %body
    #header
      .container
        %h1
          = img 'images/logo.png', alt: 'jobr.io &mdash; the smart way to find work.'
        %p the smart way to find work.
    #content
      .container
    #footer
      .container