%form#search(action='search' method='get')
  %p Get useful job insights now..
  %fieldset
    %input(type='text' name='title' placeholder='Chef, Plumber..')
    %input(type='text' name='area' placeholder='Manchester..')
    %button Search Now

%ul#blurb
  %li
    %h3 Fast.
    %p View visual information instantly showing where available jobs are located around the country.
  %li
    %h3 Relevant.
    %p Get useful insights to key information related to your job search: Job availability; Skill demand trends etc.
  %li
    %h3 Now.
    %p Browse job listings relevant to your industry as they become available.